

.uploadPage {
    width: 100vw;
    height: 100vh;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(205, 240, 248)
}

.header {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    background: #4C6A79 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: 'center';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    height: 300px;
    width: 300px;
    padding: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 300px;
    height: 50px;
    background: #005769 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    color: white;
    box-shadow: 0px 5px 5px grey;
    z-index: 20;
}

.button:active {
    box-shadow: 0px 2px 3px black;
    color:black;
    background: pink
}

.button:disabled {
    background-color:grey;
    cursor: not-allowed;
}

.loadingContainer {
    height: 300px;
    width: 300px;
    margin: 20px;

    display:flex;
    align-items: center;
    justify-content: center;
    border:  2px solid #005769;
    border-radius: 0.5cm;
    background-color: #005769;
    
}