
.musicplayPage {
    width: 100vw;
    height: 100vh;
    min-height: 800px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(205, 240, 248)
}

.header {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    background: #4C6A79 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: 'center';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.musicPlayerContainer {
    width: 500px;
    margin-top:100px;
    border:  5px solid #4C6A79;
    border-radius: 0.1cm
}